body {
    background-color: rgb(209, 181, 223);
}

h1{
    text-align: center;
    font-family: "Trebuchet MS";
    position: relative;
    font-size: 70px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    color:#363535;
}

.listName{
    font-family: "Trebuchet MS";
    font-size: 35px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    color:#363535;
}

.listWrap{
    display:grid;
    grid-template-columns: 30% 70%;
}

.trash {
	background:#363535;;
	width: 16.5px;
	height: 20px;
	display: inline-block;
	margin:0 auto;
	left:40px;
	position: relative;
	-webkit-border-bottom-right-radius: -4px;
	-webkit-border-bottom-left-radius: -4px;
	-moz-border-radius-bottomright: 200px;
	-moz-border-radius-bottomleft: 200px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}


.trash span {
	position: absolute;
    height: 3px;
    width:16.5px;
	background: #363535;;
	top: -5px;
	left: 0px;
	right: -10px;
	
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}

.trash:hover span {
	transform: rotate(-45deg);
	transition: transform 250ms;
}

.heartIcons{
    position: relative;
    color:#6f6c6c;
    cursor: pointer;
    left: -30px;
    top: 3px;
  }

  .material-icons {
    font-size: 24px;
  }
  
  #heartBorder-liked{
    position: relative;
    color: rgb(227, 63, 153);
    left: -41px;
  }
  
  #heartIcon{
    position: relative;
    font-size: 30px;
  }
  #heartIcon:hover{
    animation: pulse .6s linear;
  }
  @keyframes pulse {
    50% {
      transform: scale(1.3);
    }
  }

  .liked{
    color: rgb(227, 63, 153);
    
  }